---
layout: "layouts/default.njk"
---

<header>
  <div class="has-flow">
    <h2>Garden</h2>
    <p>Here's where we'll keep track of our garden adventures.</p>
  </div>
</header>

<ol class="c-entry-list" role="list">
  {%- for entry in collections.garden | reverse -%}
    <li>
      <a href="{{ entry.url | url }}">{{ entry.data.date | readableDate }}</a>
    </li>
  {%- endfor -%}
</ol>
