---
layout: "layouts/default.njk"
permalink: "/garden/about/"
---

<header class="has-flow">
  <h2>All about our Garden</h2>
  <p>We currently have {{ garden.plants.length }} plants in the ground.</p>
</header>

<h3 style="margin: 1em 0 .5em;">What we're growing</h3>
<div class="c-garden-cards">
{%- for plant in garden.plants -%}
  <article class="c-garden-cards__item has-flow">
    <header>
      <h2><a href="/tags/{{ plant.name.toLowerCase() }}/" title="View all posts tagged {{ plant.name }}">{{ plant.name }}</a></h2>
      <h3>{{ plant.quantity }} {{ plant.variety }}</h3>
    </header>
    {%- if plant.image -%}
      <img src="{{ plant.image }}?nf_resize=smartcrop&w=400&h=400" alt="" height="240" width="240">
    {%- else -%}
      <img src="https://source.unsplash.com/400x400/?garden" alt="" height="240" width="240">
    {%- endif -%}
    <footer>
      <p>Planted on {{ plant.planted_on | readableDate }}</p>
      <p>
        <noscript>Estimated harvest date: {{ plant.expected_harvest }}</noscript>
        <span class="js-days-until-harvest">{{ plant.expected_harvest }}</span> days until harvest
      </p>
    </footer>
  </article>
{%- endfor -%}

<script>
  function harvestCountdown(el) {
    const estHarvestDate = el.textContent;
    const timeRemaining = Date.parse(estHarvestDate) - Date.parse(new Date());
    const daysRemaining = Math.floor(timeRemaining / (1000*60*60*24));
    el.textContent = daysRemaining;
  }

  document.querySelectorAll('.js-days-until-harvest').forEach(cell => harvestCountdown(cell));
</script>