---
layout: "layouts/default.njk"
title: "Home"
---

<article class="c-homepage o-block">
  <div class="o-constrain-content">
    <h2>👋 Hi, we're the Showalters 👨‍👩‍👦‍👦</h2>
    <p>Welcome to our family site!</p>
    <img src="/assets/images/showalter_family.jpg" alt="Family photo of the Showalters">
    <p><em>&ndash; Bobby, Stephanie, Owen, and Arlo</em></p>
  </div>
</article>
