---
layout: "layouts/default.njk"
---

<header>
  <div class="has-flow">
    <h2>Showalter Recipes</h2>
    <p>Welcome to our digital family cookbook! These are tried and true recipes
    we have tested and loved, saved for us to easily reference and to share
    with others.</p>
  </div>
</header>

<section class="c-entry-list">
  {%- for recipe_tag in recipe_toc.recipe_tags -%}
    <h3>
      <a href="/tags/{{ recipe_tag.toLowerCase() }}/">{{ recipe_tag }}</a>
      <small>({{ collections[ recipe_tag ].length }})</small>
    </h3>
  {%- endfor -%}
</section>
