<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    Showalter Recipes
  </title>
  <link rel="stylesheet" href="/assets/css/recipes.css">
</head>
<body>
  <nav>
    <a href="/" title="Return to home">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 12H6M12 5l-7 7 7 7"/></svg>
    </a>
  </nav>

  <article>
    <header>
      <h1>Showalter Recipes</h1>
    </header>

    <div>
      <section>
        <p>We like cooking. Here is what we cook. The end.</p>
      </section>
      <section>
        {%- for recipe_tag in recipe_toc.recipe_tags -%}
          <h2>
            <a href="/recipes/{{ recipe_tag.toLowerCase() }}/">{{ recipe_tag }}</a>
            <small>({{ collections[ recipe_tag ].length }})</small>
          </h2>
        {%- endfor -%}
      </section>
    </div>
  </article>

</body>
</html>
