---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
    - crochet
permalink: /recipes/{{ tag }}/
layout: "layouts/default.njk"
---

<header class="o-block">
  <div class="o-constrain-content">
    <h2>{{ tag }} recipes</h2>
  </div>
</header>

<div class="o-block">
  <section class="o-constrain-content">
    <ol>
      {%- set taglist = collections[ tag ] -%}
      {%- for recipe in taglist | reverse -%}
        <li>
          <a href="{{ recipe.url | url }}">{{ recipe.data.title }}</a>
        </li>
      {%- endfor -%}
    </ol>
  </section>
</div>
