---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: "layouts/default.njk"
---

<header>
  <h2><em>{{ tag }}</em> entries</h2>
</header>

<ol class="c-entry-list" role="list">
  {%- set taglist = collections[ tag ] -%}
  {%- for entry in taglist | reverse -%}
    <li>
      {%- for tag in entry.data.tags -%}
        <span class="c-entry-list__tag">
          {%- if tag == 'garden' -%}Garden{%- endif -%}
          {%- if tag == 'recipe' -%}Recipe{%- endif -%}
        </span>
        <a href="{{ entry.url | url }}">
          {%- if tag == 'garden' -%}{{ entry.data.date | readableDate }}{%- endif -%}
          {%- if tag == 'recipe' -%}{{ entry.data.title }}{%- endif -%}
        </a>
      {%- endfor -%}
    </li>
  {%- endfor -%}
</ol>