<header class="c-site-header o-block">
  <nav class="o-constrain-content">
    <h1>Showalter Family</h1>
    <ul class="c-flex-list">
      <li><a{% if page.url == "/" %} class="current"{% endif %} href="/">Home</a></li>
      <li><a{% if 'covid' in page.url %} class="current"{% endif %} href="/covid-19/">COVID-19 Journal</a></li>
      <li><a{% if 'recipes' in page.url %} class="current"{% endif %} href="/recipes/">Recipes</a></li>
      <li><a{% if 'crochet' in page.url %} class="current"{% endif %} href="/crochet-patterns/">Crochet Patterns</a></li>
    </ul>
  </nav>
</header>
