<header class="c-site-header o-block">
  <nav class="o-constrain-content">
    <h1>Showalter Family</h1>
    <ul class="c-flex-list">
      <li><a class="current" href="/">COVID-19 Journal</a></li>
      <li><a href="/recipes/">Recipes</a></li>
    </ul>
  </nav>
</header>
