<ol reversed>
  {% for post in collections.post | reverse %}
    {%- set date = post.date | readableDate -%}
    <li>
      <article id="{{ date | slug }}">
        <header>
          <h3><a href="#{{ date | slug }}">{{ date }}</a></h3>
        </header>
        <div>
          {{ post.templateContent | safe }}
        </div>
      </article>
    </li>
  {% endfor %}
</ol>
