/* vars */
:root {
  --dark: #30475e;
  --dark-opacity: #30475eaa;
  --primary: #3fc1c9;
  --accent: #fc5185;
  --white: #ececec;
  --block-border: .5rem solid var(--dark);
  --block-padding: clamp(1.5rem, 5vw, 3.5rem) 5vw clamp(4rem, 5vw, 5rem);
}

/* https://hankchizljaw.com/wrote/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* List styles */
ul,
ol {
  margin: 0 0 0 1em;
  padding: 0;
}

/* Anchor styles */
a {
  color: inherit;
  text-decoration-skip-ink: auto;
  transition:
    color 200ms ease-out,
    opacity 200ms ease-out;
}

a:hover,
a:focus {
  opacity: .75;
}

a:active {
  color: var(--primary);
  opacity: 1;
}

a:visited {
  opacity: .75;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

/* My recipe styles */
html {
  background-attachment: fixed;
  background-color: var(--primary);
  background-image:
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 4rem,
      var(--dark-opacity) 4rem,
      var(--dark-opacity) 4.25rem
    ),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 4rem,
      var(--dark-opacity) 4rem,
      var(--dark-opacity) 4.25rem
    ),
    linear-gradient(
      to bottom,
      var(--primary),
      var(--white),
      var(--accent)
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dark);
}

body {
  display: grid;
  grid-template-columns:
    [back-start] 5vw
      [header-start] 5vw
        [body-start] 1fr
          [back-end] 5vw
            [header-end] 5vw [body-end];
  grid-template-rows:
    [back-start] min-content
    [header-start] 3rem
    [back-end] min-content
    [body-start] 3rem
    [header-end] 1fr;
}

body > nav,
article > header {
  position: sticky;
  top: 0;
}

h1,
h2 {
  line-height: 1.125;
  margin-bottom: .25em;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 900;
  text-shadow: .05em .05em 0 var(--primary);
}

h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
}

nav {
  grid-area: back-start / back-start / back-end / back-end;
  background-color: var(--dark);
  border-right: var(--block-border);
  border-bottom: var(--block-border);
  z-index: 1;
}

nav a {
  color: var(--white);
  display: inline-block;
  padding: var(--block-padding);
  transition: background-color 200ms ease-out;
}

nav a:hover {
  background-color: rgba(200, 200, 200, .05);
  /* we don't want the "back" link to transition its opacity */
  opacity: 1;
}

nav a svg {
  height: clamp(1.5rem, 5vw, 2.5rem);
  stroke-width: 3;
  transition: transform 200ms ease-out;
  width: clamp(1.5rem, 5vw, 2.5rem);
}

nav a:hover svg {
  transform: scale(1.125);
}

article {
  display: contents;
}

header {
  background-color: var(--accent);
  border: var(--block-border);
  grid-area: header-start / header-start / header-end / header-end;
  padding: var(--block-padding);
  z-index: 2;
}

header > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -.5rem;
}

header > ul > li {
  background-color: var(--dark);
  box-shadow: .25rem .25rem 0 var(--primary);
  border-radius: .5rem;
  color: var(--white);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 700;
  line-height: 1;
  margin: .5rem;
  padding: .5em 1em;
  white-space: nowrap;
}

div {
  background-color: var(--white);
  border-top: var(--block-border);
  border-left: var(--block-border);
  font-size: clamp(1rem, 2vw, 1.25rem);
  grid-area: body-start / body-start / -1 / body-end;
  padding: var(--block-padding);
  z-index: 3;
}

div > * + * {
  margin-top: 2em;
}

section {
  max-width: 60ch;
}

section ol > li,
section ul > li {
  line-height: 1.6;
}

section ol > li + li,
section ul > li + li {
  margin-top: .75em;
}
