:root {
  /* base colors */
  --c-1: #303960;
  --c-2: #ea9a96;
  --c-3: #f8b24f;
  --c-4: #e5e5e5;
  --c-5: #1c2239;
  --c-6: #3d497a;

  /* font stacks */
  --f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --f-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  --f-brand: "Krona One", var(--f-sans);

  /* widths */
  --w-content: 48rem;

  /* paddings */
  --p-block: clamp(1.5rem, 5vw, 3rem) 1rem;

  /* light (default) theme */
  --c-body-background: var(--c-4);
  --c-site-header-background: var(--c-1);
  --c-site-header-title: var(--c-2);
  --c-site-header-link: var(--c-3);
  --c-page-header-background: var(--c-2);
  --c-page-header-title: var(--c-6);
  --c-page-header-color: var(--c-1);
  --c-text-headings: var(--c-6);
  --c-text-body: var(--c-1);
  --c-text-link: var(--c-6);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --c-body-background: var(--c-1);
    --c-page-header-background: var(--c-5);
    --c-page-header-title: var(--c-2);
    --c-page-header-color: var(--c-4);
    --c-text-headings: var(--c-3);
    --c-text-body: var(--c-4);
    --c-text-link: var(--c-3);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--c-body-background);
  color: var(--c-text-body);
  font-family: var(--f-serif);
}

/* Remove default padding */
article ul,
main ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
article ul,
main ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: var(--c-text-link);
  font-family: var(--f-brand);
  font-weight: normal;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: .125rem;
  text-underline-offset: .25rem;
  transition:
    color 200ms ease-out,
    opacity 200ms ease-out;
}

a:hover {
  opacity: .75;
}

a:active {
  color: var(--c-text-headings);
}

p a {
  font-size: .8em;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
  color: var(--c-text-headings);
  font-family: var(--f-brand);
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: .75em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  opacity: .75;
}

p + p {
  margin-top: 1em;
}

/* Objects */
.o-constrain-content {
  margin: 0 auto;
  max-width: var(--w-content);
}

.o-block {
  padding: var(--p-block);
}

/* Components */
.c-site-header {
  background-color: var(--c-site-header-background);
}

.c-site-header h1 {
  color: var(--c-site-header-title);
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.c-site-header ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: .5rem -.5rem 0 -1rem;
  padding-left: 0;
}

.c-site-header a {
  color: var(--c-site-header-link);
  display: block;
  margin: 0 0.5rem;
  padding: 0.5rem;
}

.c-site-header a:not(:is(:hover, :focus, .current)) {
  text-decoration-color: transparent;
}

/* Page Header styles */
main > header {
  background-color: var(--c-page-header-background);
  color: var(--c-page-header-color);
}

main > header > div > *:first-child {
  margin-top: 0;
}

main > header > div > *:last-child {
  margin-bottom: 0;
}

main > header > div > h2 {
  color: var(--c-page-header-title);
  font-size: clamp(2rem, 5vw, 3rem);
}

main > header > div > p {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

/* Journal styles */
main ol {
  list-style: none;
}

article,
footer {
  font-size: 1.25rem;
}

article > header h3 {
  line-height: 1;
}

article > header h3 a {
  text-decoration: none;
}

footer {
  text-align: center;
}
