---
layout: "layouts/default.njk"
---

<header class="o-block">
  <div class="o-constrain-content">
    <h2>{{ name }}</h2>
    <ul class="c-flex-list">
    {%- for tag in tags -%}
      {%- if tag != 'crochet' -%}
        <li><a href="/crochet-patterns/{{ tag.toLowerCase() }}/">{{ tag }}</a></li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
  </div>
</header>

<div class="o-block">
  <section class="o-constrain-content">
    <h3>Hook size</h3>
    <p>{{ hook }}</p>
  </section>

  <section class="o-constrain-content">
    <h3>Yarn weight</h3>
    <p>{{ yarn }}</p>
  </section>

  <section class="o-constrain-content">
    <h3>Instructions</h3>
    {{ instructions | markdownify | safe }}
  </section>

  {%- if source -%}
    <section class="o-constrain-content">
      <h3>This pattern is adapted from</h3>
      {{ source | markdownify | safe }}
    </section>
  {%- endif -%}
</div>
