---
layout: "layouts/default.njk"
---

<header>
  <div>
    <h2>{{ date | readableDate }}</h2>
    <ul>
    {%- for tag in tags -%}
      {%- if tag != 'garden' -%}
      <li><a href="/tags/{{ tag.toLowerCase() }}/">{{ tag }}</a></li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
  </div>
</header>

<div class="has-flow">
  {{ content | safe }}
</div>