---
layout: "layouts/default.njk"
---

<header>
  <div>
    <h2>{{ title }}</h2>
    <ul class="c-tags-list" role="list" aria-label="Tags">
      {%- for tag in tags -%}
        {%- if tag != 'recipe' -%}
        <li><a href="/tags/{{ tag.toLowerCase() }}/">{{ tag }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>

<div>
  <section>
    <h3>Ingredients</h3>
    <ul>
    {%- for ingredient in ingredients -%}
      <li>{{ ingredient }}</li>
    {%- endfor -%}
    </ul>
  </section>

  <section>
    <h3>Method</h3>
    {{ method | markdownify | safe }}
  </section>

  {%- if source -%}
    <section>
      <h3>Source</h3>
      {{ source | markdownify | safe }}
    </section>
  {%- endif -%}
</div>
